<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= title%></title>
    <style>
       .container{
        width: 90%;
        margin: auto;
       }
       nav{
        display: flex;
        justify-content: space-between;
       }
       a{
        text-decoration: none;
       }
       li{
        list-style: none;
       }
       ul{
        display: flex;
        gap: 2rem;
       }
       /* form style */
       form button{
        background-color: blue;
        color: white;
        width:30% ;
        height: 30px;
        font-size: 1rem;
       }
    </style>
</head>